.filters{
    display: flex;
}
.wrapper{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
#task{
    width: 19em;
}
.ongoing{
    color: black;
}
.stopped{
    color: gray;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.bye{
    animation: spin 1s linear infinite;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
    opacity: 0;
}